<section>
  <h2>Login:</h2>
  <form class="login-user"
  action="/users/login" method="POST">
  <input placeholder="username"
  name="username">
  <input type="password"
  placeholder="password" name= "password">
  <input type="submit" value="Login">
</form>
</section>

<a href="/users/register"> Register as a new user</a>
