#login{
  width: 50vw;
  margin: auto;
}
#login-title{
  text-align: center;
}

#create-post{
  width: 90vw;
  margin: auto;
}

#post-submit{
  float: right;
  margin-top: 5vh;
}

#post-box{
  float: right;
}
#title-box{
  float: right;
  margin-bottom: 5vh;
}
#copyright-add{
  margin-top: 10vh
}

.post-title{
  text-align: center;
  margin-bottom: 5vh;
}

.delete-button{
  margin-right: 20vw;
}
.edit-button{
  margin-right:43vw;
}
